<div class="main-content">
  <div class="container-fluid">
    <div class="col-md-12 mr-auto ml-auto card">
      <div class="row justify-content-center">
        <div class="col-sm-16">
          <div class="form-group">
            <!--6Le4Q3sUAAAAANrYPLuSf_ao3Bj2PlmeG2G13Cfc-->
            <!--siteKey="6LeiIG8UAAAAAIHsHyO19EHxNSHcLouRGVYB1o30"-->
            <!--Clave para sitio cdn.desa.sat.gob.gt-->
            <!--siteKey="6LdqRHsUAAAAACn7GofMSiSkheMYInD71sIMFB4b" -->
            <!--clave localhost -->
            <!--6LeEM20UAAAAAEW2TvlDa5_v5gCrEBFXrGfsRIHq-->
            <re-captcha (resolved)="resolved($event)" siteKey="6LcFq40UAAAAADYtxeSdl7OZ3_NDbqgiqy2q5OIT"></re-captcha>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>