<!-- menu temporal para acceder a los modulos que se estan creando -->
<!-- <mat-toolbar>
    <button mat-button routerLink="/con-general-rtu">Consulta RTU</button>
    <button mat-button routerLink="/catalogo-condicion-especial">Catalogo Condicion Especial</button>
    <button mat-button routerLink="/buzon-sat">buzon SAT</button>
    
    <a mat-button  href="https://demos.creative-tim.com/material-dashboard-pro-angular2/documentation/tutorial" target="_blank" class="btn btn-secondary ml-auto btn-round">View Documentation</a>
</mat-toolbar> -->
<!-- fin de menu -->
<router-outlet></router-outlet>